<h1>Restaurants List</h1>

<% @restaurants.each do |r| %>
<p>Restaurant Name: <%= link_to r.name, new_restaurant_reservation_path(r) %> - Address:<%= r.address %> - Opening Time: <%= r.opening_time %>:00 - Closing Time: <%= r.closing_time %>:00</p>

<%= link_to "New Reservation", new_restaurant_reservation_path(r) %>

<% end %>
