<h1><%= @restaurant.name %> Information:</h1>
<p>
	Address: <%= @restaurant.address %>
	Opening Time: <%= @restaurant.opening_time %>
	Closing Time: <%= @restaurant.closing_time %>
	City: <%= @restaurant.city %>
	Price: <%= @restaurant.price %>
	Description: <%= @restaurant.description %>
</p>
